<html>

<body>
    <div>Загрузите CSV файл на ваш компьютер.</div>
    <form method="get" action="/download">
        <button type="douload">Dounload</button>
    </form>
    <div>Выберите файл который загрузили и отправьте на сервер.</div>
    <form method="post" action="csv" enctype="multipart/form-data">
        <input type="file" name="csv">
        <input type="submit" value="Upload">
    </form>
</body>
</html>